{% extends 'base.html'%}
{% load static %}
{% block content %}

<article >
    {% include 'partials/_alert.html' %}
    {% if posts %}
        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-header">{{post.title}}
                    {% if user.is_authenticated %}
                        {% if post.author_id == user.id%}
                            <a class="btn-sm btn-dark" href="{% url 'post' post.id %}" role="button">Edit</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{post.title}}</h2>
                    <p class="card-text"><small>Author: {{post.author}}</small></p>
                    <p class="card-text">{{post.content}}</p>
                </div>
                <div class="card-footer"><small class="me-auto">Published Date: {{post.date|date:'F d, Y'}}</small>
                    <a class="btn-sm btn-dark ms-auto" href="{% url 'p' post.id %}" role="button">Detail</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="card-body">
            <h2 class="card-title">No Post Found !!!</h2>
        </div>
    {% endif %}
</article>
{% endblock content %}
